
<ion-header>
  <!-- <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar> -->
</ion-header>


<ion-content padding class="pageBody">

<div class="logoContainer">
   <img src="../assets/imgs/findawordicon.png"/>
</div>

<div class="registerLoginContainer">
    <div class="titleContainer">
      <img src="../assets/imgs/RegisterLogin.png"/>
    </div>
    <div class="inputArea">
      <div class="icon">
        <img src="../assets/imgs/purpleUser.png"/>
      </div>
      <ion-input [(ngModel)] = "email"  placeholder="email"  type="text" class="loginInput"></ion-input>

    </div>
    <div class="inputArea">
      <div class="icon">
        <img src="../assets/imgs/purplelock.png"/>
      </div>
      <ion-input [(ngModel)] = "password" placeholder = "password" type="password" class="loginInput"></ion-input>
    </div>

    <!-- add click event to button later -->
    <button ion-button class="loginButton" (click)="goToTitlePage()">
      <div class="loginButtonContainer">
        <img src="../assets/imgs/loginword.png"/>
      </div>
    </button>

    <!-- error message display -->
    <ion-textarea [(ngModel)]="errorLabel" class="errorMessage"> testing span </ion-textarea>

</div>

</ion-content>
