page-login {
  .pageBody {
    background-color: #7caef3;
    overflow:hidden;
  }
  .logoContainer {
    margin: auto;
    width: 50%;
  }

  .titleContainer {
    width: 100%;
    margin: auto;
    margin-top: 10%;
  }

  .loginInput {
    background-color: #fff;
    font-size: 24px;
    border-radius: 5px;
    padding-left: 3%;
  }

  .inputArea {
    display: flex;
    margin: auto;
    align-items: center;
    background-color: #fff;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 5px;
  }

  .icon {
    width: 10%;
  }

  .loginButton {
     background-color: #4d3d6f;
     height: 80px;
     border-radius: 25px;
     margin-top: 5%;
  }
  .loginButtonContainer {
    width: 35%;
  }

  .errorMessage {
    margin-top: 4%;;
    align-self: center;
    font-size: 17px;
    color: red;
  }

  .visible {
    visibility: visible;
  }

  .invisible {
    visibility: hidden;
  }
  .registerLoginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
