$color-darkblue: #1956be;
$color-lightblue: #7caef3;
$color-lightpurple: #cec0d9;
$color-mediumpurple: #4d3d6f;
$color-darkpurple: #1f112c;


page-home {
  #col {
   font-size: 17px;
   height: 30px;
  }

 #ion-footer {
   height: 10px;
 }
  .pageBody {
    background-color: $color-lightblue;
  }

  .grid2 {
    margin-top: 5%;
  }
  .colWords {
    text-align: center;
  }
  .navbar {
    background-color: $color-darkblue;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:5px;
    padding-right:5px;
  }

   .navImgContainer {
     width: 22%;
   }
   .navImgContainer img {
     width: 100%;
   }

  .time{
    font-size: 30px;
    color: white;
    font-weight: bold;
  }

  .stage {
    width: 35%;
    font-weight: bold;
    font-size:15px;
    color: $color-lightblue;
  }
  .innerNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .guessedLettersContainer {
    margin-top: -8%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
  }

  .guessedLettersContainer p {
  //  background: $color-mediumpurple;
    padding: 10px;
    border-radius: 10px;
    color: cyan;
    letter-spacing: 5px;
    font-size: 20px;
  }

  .grid {
    border: 3px solid;
    border-color: $color-mediumpurple;
    margin-top: -5%;
    background-color: white;
  }

  .defaultGrid {
    background: black;
  }

  .wordsFoundContainer,
  .quitButtonContainer {
    display: flex;
    justify-content: center;
  }

  .quitButtonContainer button{
    background-color: $color-darkblue;
    border-radius: 15px;
    color: $color-lightblue;
  }
  .wordsFoundContainer {
    background: $color-lightpurple;
    color: $color-mediumpurple;
    font-weight: bold;
    font-size: 10px;
  }

  .visible {
    background: $color-mediumpurple;
    visibility: visible;
  }
  .invisible {
    background: $color-lightblue;
    visibility: hidden;;
  }
}

.letterSelected {
  color: cyan;
  font-weight: bold;
  background: $color-mediumpurple;
  font-size: 20px;
  border-radius: 10px;

}

.letterNotSelected {
  background: white;
  font-size: 17px;
  color: black;
}

.letterInWord {
  background: $color-lightblue;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  font-size: 20px;
}

.wordFound {
  font-weight:bold;
  color:$color-darkblue;
  text-align:center;
  font-size:18px;
  text-decoration: line-through;
}

.wordNotFound {
  color: black;
  font-weight: normal;
  text-align:center;
  font-size: 18px;
}
.algorithmNotComplete {
  background: $color-darkpurple;

}

.algorithmComplete {
  background: white;
}

.loading {
    width: 80%;
    height:100%;
    font-size: 30px;
    text-align: left;
    color:white;
    position: absolute;
    top: 35%;
    margin-left: 5%;
}

.alertCustomCss {
   color: white; // text color for basic alerts
   button {
   color: white !important;
   background-color: $color-lightblue !important;
  }
  .alert-message {
       color: white; // text color for confirm alerts
   }
   .alert-wrapper {
      background-color: transparentize($color-lightblue, 0.2);
  //background-color: $color-lightblue;
   }
}
