<ion-header>
  <div class="navbar">
    <div class="navImgContainer" (click)="navigateToTitle()">
      <img src="../assets/imgs/homeIcon.png"/>
    </div>
    <div class="innerNavbar">
      <div class="navImgContainer">
        <img src="../assets/imgs/whiteClock.png"/>
      </div>
      <p class="time"> {{timeLeft}}</p>
    </div>
    <p class="stage"> Score: {{playerScore}}</p>
  </div>
</ion-header>
<ion-content padding  class="pageBody" (mouseup)="mouseUp()">

  <div class="guessedLettersContainer">
    <p [className] = "istempStringEmpty() ? 'invisible' : 'visible'" > {{tempString}} </p>
  </div>

 <!-- default letter grid -->
  <ion-grid  *ngIf="isWordPlacingAlgorithmComplete() == false" text-center (mousemove)="mouseMove($event)" (mousedown)="mouseDown($event)" class="defaultGrid" >
    <ion-row *ngFor="let row of rows; let i = index;" >
      <ion-col class="col" *ngFor="let col of columns; let j = index" col-1>
        0
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- letter grid -->
  <ion-grid *ngIf="isWordPlacingAlgorithmComplete()" text-center (mousemove)="mouseMove($event)" (mousedown)="mouseDown($event)" class="grid">
    <ion-row *ngFor="let row of rows; let i = index;" >
      <!-- [className] = "task.status ? 'done' : 'not-done'"  -->
      <ion-col class="col" (mousedown)="mouseDown()"  (mousemove)="mouseMovedOnCol(i, j)" [className]= "isColHighlighted(i, j) && mouseIsDown ? 'letterSelected' : (isColInWord(i, j) ? 'letterInWord' : 'letterNotSelected')" (mouseup)="mouseUp()" id="col" *ngFor="let col of columns; let j = index" col-1>
          <!-- {{  letters[i][j].value  }} -->
          <!-- {{letters[i][j].getChar()}} -->
          <!-- {{randomLetters[(i * columns.length) + j]}} -->
          {{letters[i][j].getChar()}}
      </ion-col>
    </ion-row>
  </ion-grid>

<!-- ngIf and link to letter.state() OR put mousemove on column -->

<div class="quitButtonContainer">
  <button ion-button (click) ="checkHighScores()">
    <p> QUIT & SUBMIT</p>
  </button>
</div>

<ion-grid class="grid2">
  <ion-row *ngFor="let row of wordRows; let i = index;">
    <ion-col *ngFor ="let col of wordColumns; let j = index;" class="colWords"col-4 [className] = "isWordFound(i, j) ? 'wordFound' : 'wordNotFound'">
      {{wordsToFind[(i * wordRows.length) + j].getWordString()}}
    </ion-col>
  </ion-row>
</ion-grid>

<div text-center *ngIf=" isWordPlacingAlgorithmComplete() == false" class="loading"> {{loadingMessage}} </div>
</ion-content>

<!-- <ion-footer>
  <div class="wordsFoundContainer">
    <p> 0 OUT OF 12 WORDS FOUND </p>
  </div>
</ion-footer> -->


<!--old click method for ion-col (click)="clickedLetter(j, i)" -->
