<!--
  Generated template for the TitlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>

<ion-content padding class="pageBody">

    <div class="topLogo">
      <img src="../assets/imgs/findawordlogo.png" />
    </div>

    <!-- <button *ngIf="indexCount != 0" ion-button class="previous">Previous</button> -->
    <div *ngIf="usernameExists == false" class="middleContainer">
        <div class="enterName">
          <img src="../assets/imgs/createUserToPlay.png"/>
        </div>

       <!-- MiddleSection -->
        <div class="middleContainer">
          <!-- user input  -->
          <ion-row class="usernameInput">
            <ion-col>
              <img src="../assets/imgs/username.png"/>
            </ion-col>
            <ion-col>
              <ion-input [(ngModel)] = "username" type="text" class="titleInput"></ion-input>
            </ion-col>
          </ion-row>
        </div>
    </div>

    <div>
      <!-- [className] = "istempStringEmpty() ? 'invisible' : 'visible'"  -->
      <div *ngIf="usernameExists == true" class="welcomeMessage">
        <span> Welcome ''{{username}}''</span>
      </div>

      <!-- play button -->
      <button ion-button class="titleButton" (click)="navigateToGame()">
        <div class="titleButtonImage">
          <img src="../assets/imgs/play.png"/>
        </div>
      </button>

      <!-- highscores button -->
      <button ion-button class="titleButton" (click)="navigateToHighscores()">
        <div padding-left padding-right>
          <img src="../assets/imgs/highscores.png" />
        </div>
      </button>
    </div>
   <!-- end Middle Section -->

   <!-- How to Play Section -->
   <div class="howToPlayContainer">
     <div class="howToPlayTop">
       <div class="howToPlayImage">
         <img src="../assets/imgs/howtoplay.png"/>
       </div>
     </div>
     <div class="howToPlayBottom">
       <ion-row>
         <ion-col col-2 class="bulletPointDiv"> <div class="bulletPoint">	</div> </ion-col>
         <ion-col col-10> <span> find the list of words before the time runs out </span></ion-col>
       </ion-row>
       <ion-row>
         <ion-col col-2 class="bulletPointDiv"> <div class="bulletPoint"> </div>  </ion-col>
         <ion-col col-10> <span> words can be found vertically, horizontally, or diagonally </span></ion-col>
       </ion-row>
     </div>
   </div>


</ion-content>
