$color-darkblue: #1956be;
$color-lightblue: #7caef3;
$color-lightpurple: #cec0d9;
$color-mediumpurple: #4d3d6f;
$color-darkpurple: #1f112c;

page-title {
     .pageBody {
       background-color: #7caef3;
     }
     .enterName {
       margin-top: -4%;
     }

     .welcomeMessage {
       display: flex;
       justify-content: center;
       align-items: center;
       color: #4d3d6f;
       font-weight: bold;
       font-size: 25px;
       margin: auto;
       width: 90%;
       padding-bottom: 5%;
     }
     .titleButton {
        background-color: #4d3d6f;
        height: 80px;
        border-radius: 25px;
     }

     .titleButtonImage {
       width: 40%;
     }
     .middleContainer {
       padding-left: 2%;
       padding-right: 2%;
     }

     .usernameInput {
       justify-content: center;
       align-items: center;
     }

     .titleInput {
       background-color: #fff;
       font-size: 24px;
     }

     .howToPlayContainer {
       border: 2px solid;
       border-color: $color-darkblue;
       margin-top: 6%;
       height: 33%;
       background-color: #cec0d9;
     }

     .howToPlayTop {
       background-color: $color-darkblue;
     }
     .howToPlayImage img{
       width: 50%;
       height: 10%;
     }
     .howToPlayImage {
       display: flex;
       justify-content: center;
     }

     .howToPlayBottom {
       color: #4d3d6f;
       font-weight: bold;
       font-size: 19px;
       background-color: #cec0d9;
       margin-top: 2%;
     }

     .bulletPoint {
       border-radius: 50px;
       background-color: #1956be;
       width: 40%;
       height: 40%;
     }

     .bulletPointDiv {
       padding: 5%;
     }

     .errorMessage {
       margin-top: 4%;;
       align-self: center;
       font-size: 17px;
       color: red;
     }
}

.alertCustomCss {
   color: white; // text color for basic alerts
   button {
   color: white !important;
   background-color: $color-lightblue !important;
  }
  .alert-message {
       color: white; // text color for confirm alerts
   }
   .alert-wrapper {
      background-color: transparentize($color-lightblue, 0.2);
  //background-color: $color-lightblue;
   }
}
