
<ion-header>

  <div class="navbar">
    <div class="navImgContainer" (click)="navigateToTitle()">
      <img src="../assets/imgs/homeIcon.png"/>
    </div>
    <span class="userLabel">
      CURRENT USER: {{username}}
    </span>
    <div class="spacer">
    </div>
  </div>

</ion-header>

<ion-content padding class="pageBody">
  <!-- FindaWord Logo -->
  <div class="topLogo">
    <img src="../assets/imgs/findawordlogo.png" />
  </div>

  <!-- LeaderBoards heading -->
  <div class="tableHeader">
      <div class="leaderBoardsDiv">
        <img src="../assets/imgs/LeaderBoards.png"/>
      </div>
  </div>

  <!-- Table Body / Grid -->
  <ion-list class="tableBody">
     <div class="listHeader">
       <div class="headerImgContainerPos">
          <img src="../assets/imgs/Position2.png"/>
       </div>
       <div class="headerImgContainer">
          <img src="../assets/imgs/Name.png"/>
       </div>
       <div class="headerImgContainer">
          <img src="../assets/imgs/Score.png"/>
       </div>
     </div>
        <ion-item class="highscoresItem" *ngFor="let score of highScores; let i = index">
          <h1 item-start> {{+i + 1}} </h1>
          <h2 class="usernameItem"> {{highScores[i][1]}} </h2>
          <span item-end>{{highScores[i][0]}}</span>
        </ion-item>
  </ion-list>

</ion-content>
