$color-darkblue: #1956be;
$color-lightblue: #7caef3;
$color-lightpurple: #cec0d9;
$color-mediumpurple: #4d3d6f;
$color-darkpurple: #1f112c;



  page-highscores {
  .pageBody {
    background-color: $color-lightblue;
  }

  .navbar {
    background-color: $color-darkblue;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-left:5px;
    // padding-right:5px;
    padding:5px;;
  }

   .navImgContainer {
     width: 16%;
   }
   .navImgContainer img {
     width: 100%;
   }

   .userLabel {
     color: $color-lightblue;
     font-size: 18px;
   }
   .spacer {
     width: 8%;
   }

   .topLogo {
     width: 90%;
     margin:auto;
     margin-top: -7%;

   }

   .tableHeader {
     background-color: $color-mediumpurple;
     width: 90%;
     display: flex;
     justify-content: center;
     margin:auto;
     margin-top: -5%;
   }

   .tableBody {
     background-color: $color-darkblue;
     width: 90%;
     margin: auto;
     margin-top: - 5%;
   }
   .listHeader {
     display: flex;
     width: 100%;
     flex-direction: row;
     justify-content: space-between;
     background-color: $color-darkblue;
     margin-top: 5%;
     align-items: center;
   }
   .leaderBoardsDiv {
     width: 90%;
   }

   .leaderBoardsDiv img {
     width: 100%;
   }

   .headerImgContainer {
     width: 20%;
   }

   .headerImgContainerPos {
     width: 16%;
   }

   .headerImgContainer img {
     width: 100%;
   }

   .usernameItem {
     margin-left: 34%;
   }

   .highscoresItem {
     height: 5%;
     background-color: $color-darkblue;
     color: white;
   }

}
